* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8%;
    top: 15px;
    left: 15vw;
    position: absolute;
}

ul#Nav {
    /* margin: 0; */
    /* float: left; */
    
    list-style-type: none;
    /* position: fixed; */
    display: block;
}

li {
    float: left;
    margin-left: 50px;
    
}

a:hover:not(.active):not(.Content a){
    background-color: darkgrey;
    color: #fff
}
a.active{
    text-decoration: none;
    display: block;
    padding: 1em 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}
a.Blogs {
    text-decoration: none;
    display: block;
    padding: 1em 3em;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.Logo {
    width: 100px;
    position: fixed;
    left: 30px;
    top: 0px;
}

.hero {
    width: auto ;
    height: 100vh;
    background-image:linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

.Content {
    text-align: center
    
}

.Content h1 {
    font-size: 6vmax ;
    color: #fff;
    font-weight: 600;
    position: relative;
    
}
.Content a {
    text-decoration: none;
    font-size: 1vmax;
    display: inline-block;
    padding: 10px 50px;
    color: #fff;
    border: 1px solid#fff;
    border-radius: 50px;
}

.hamburger{
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    float: right;
    position: relative;
    right: -300px;
   bottom: 40vmax
}
.hamburger:hover{
    background-color: #fff;
}

.hamburger div{
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: black;
    position: relative;
    top: 0;
}

@media only screen and (max-width: 1024px) {
    header{
        width: 90%;
        padding: 0 20px;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 288px;
        height: 100vh;
        background-color: #ccc;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba( 0, 0, 0, 0.05);
        display: block;
        padding: 0;
    }
    #nav_check:checked ~ nav{
        left: 0;
    }
        nav .Logo{
            display: block;
            height: 150px;
            width: 150px;
            display: flex;
            align-items: center;
            margin-left: 30px;
        }
        a.active{
            background-color:slategray;
        }
        nav ul li a{
            margin-bottom: 5px;
            border-radius: 5px;
            padding: 10px 15px;
        }

        nav ul{
            display: block;
            padding: 0 0px;
            margin-top: 200px;
        }
        .hamburger{
            display: block; 
        }
}